.btn {
    background-color: #28282B;
    color: white;
    padding: 16px;
    font-size: 16px;
    width: 100%;
    border: none;
    text-align: center;
}
.btn:hover {
    background-color: #00ab41;
    transition: 0s;
}
.div {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    font-family: arial;
}
.p {
    padding: 16px;
}
.p:hover {
    background-color: #FF0000;
    transition: 0s;
    padding: 16px;
}